<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\PositionReport.Data\packages.config" />
  <repository path="..\PositionReport.Scheduler\packages.config" />
  <repository path="..\Tests.cs\packages.config" />
  <repository path="..\Tests\packages.config" />
</repositories>